<h1>게시물 수정</h1>
<%=form_tag(past_path(@post.id), method:"put") do%>
제목:<%= text_field_tag(:title, @post.title)%><br>
내용:<%= text_field_tag(:content, @post.content,size:"24x6")%>
<%=submit_tag("수정")%>
<%end%>